.DS_Store
node_modules
project/web/target/*
project/web/front/*
project/svelte
node_modules
project/tauri/src-tauri/target

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.DS_Store
.DS_Store
