# --- project/tauri ---
project/tauri/node_modules
project/tauri/.svelte-kit
project/tauri/build
vite.config.ts.timestamp-*

# --- 共通 ---
.DS_Store
Thumbs.db
node_modules

# --- svelte/web/tauri 共通 ---
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# --- project/web ---
project/web/target/*
project/web/front/*

# --- project/svelte ---
project/svelte

# --- project/tauri ---
project/tauri/src-tauri/target

# --- project/tauri/src-tauri ---
project/tauri/src-tauri/gen/schemas
project/tauri/src-tauri/target/

# --- 環境変数 ---
.env
.env.*
!.env.example
!.env.test

# --- Vite ---
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# --sr--
src/svelte/.svelte-kit/
